select, input, label, button, button img, img{
	vertical-align: middle;
}
input, button, textarea, img {
    line-height: normal;
}
h1, h2, h3, h4, h5, h6, select, input, textarea, button {
    font-size: 100%;
}
body, input, select, button {
    font-family: verdana,sans-serif;
}
.content .mainBody-wp{
	border: #E0E0E0 1px solid;
    border-top-width: 0;
  
}
.mainBody-wp{
	overflow: hidden;
    zoom: 1;
    position: relative;
}
.mainBody-wp .m-mask{
	opacity: 0.3;
    filter: alpha(opacity=30);
    zoom: 1;
    width: 958px;
    height: 3000px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: #000;
}
.content .mainBody{
	width: 582px;
    float: left;
    padding: 50px 0 36px 60px;
    zoom: 1;
}
.content{
	width: 960px;
    margin: 0 auto;
    text-align: left;
}
.regForm{
	margin-left: 9px;
}
.mainBody-hasFocus-focusArea{
	position: relative;
   
    z-index: 11;
    margin-right: 60px;
}
.regForm-item{
	position: relative;
}
.regForm-item-tit{
	position: absolute;
    width: 75px;
    position: absolute;
    left: 0;
    top: 13px;
    text-align: right;
    font-size: 14px;
}
.regForm-item-ct {
    padding: 8px 0 8px 85px;
    zoom: 1;
    position: relative;
}
.regForm-item-tit .txt-impt{
	margin-right: 4px;

}
.txt-err, .txt-impt{
	color: #c00;
}
.regForm-item-ct .ipt{
	width: 200px;
}
.ipt {
    padding: 4px 5px;
    border: #ABABAB 1px solid;
    box-shadow: 2px 2px 3px #EDEDED inset;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}
.regForm-item-ct .owned{
	width: 330px;
    height: auto;
    background-color: #FFFFE1;
    border: #C6C6A8 2px solid;
    position: relative;
    margin-top: 13px;
    zoom: 1;
    overflow: visible;
}
.regForm-item-ct .owned .arr{
	width: 25px;
    height: 14px;
    background-position: -576px -72px;
    position: absolute;
    left: 31px;
    top: -14px;
}
.regForm-item-ct .owned .attent{
	padding: 14px 10px 14px 53px;
    zoom: 1;
    position: relative;
}
.regForm-item-ct .owned .attent .ico-warn-big{
	position: absolute;
    left: 10px;
    top: 10px;
}
.ico-warn-big{
	width: 30px;
    height: 30px;
    background-position: 0 -216px;
}
strong, b {
    font-weight: bold;
}
.regForm-item{
	position: relative;
}
.regForm-item-ct .norWidthIpt{
	width: 322px;
}
.regForm-item-ct .tips{
	line-height: 16px;
    padding: 6px 0 4px;
}
.txt-tips{
	color: #999;
}
.regForm-item-ct .btns{
	padding-top: 5px;
}
.btn {
    height: 28px;
    padding: 0 20px;
    font-size: 14px;
    background-position: 0 -72px;
    border: #BBB 1px solid;
    text-decoration: none;
    line-height: 28px;
    color: #555;
    border-radius: 3px;
    outline: none;
    background-color: #dfdfdf;

}
.txt-succ{
	color: #3d882d;
}
.btnReg {
    width: 119px;
    height: 37px;
    font-size: 14px;
    background-position: 0 -360px;
    text-decoration: none;
    line-height: 37px;
    color: #FFF;
    outline: none;
    text-align: center;
    font-weight: bold;
}
.btnRegDisable, .btnRegDisable:hover, .btnRegDisable:active {
    width: 119px;
    height: 35px;
    font-size: 14px;
    background-color: #F0F0F0;
    border: #D8D8D8 1px solid;
    text-decoration: none;
    line-height: 35px;
    color: #999;
    outline: none;
    text-align: center;
    font-weight: bold;
    cursor: default;
    border-radius: 3px;
}
.content .mainBody-side{
	width: 315px;
	float: right;
}
.mainBody-side .regExt{
	    padding: 106px 0 0 45px;
    color: #AFAFAF;
}